<style type="text/css">
  #sidebottombutton {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 50px;
    background: green;
    padding-top: 10px;
  }

  #filters {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 50px;
    background: lightgray;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }
  #filters:target {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #bottombutton {
    width: 100%;
    height: 50px;
    background: green;
    padding-top: 10px;
  }
  h3 {
    margin-top: 0px;
    color: white
  }

</style>






<div id="filters">

  <a class="togglelink" href="#" style="text-decoration: none">
    <div id="bottombutton">
      <h3 class="text-center">
        <font color="white">
          Quick Filter
        </font>
      </h3>
    </div>
  </a>
<a class="togglelink bottomlink" href="/tv" style="text-decoration: none">
  <div id="sidebottombutton">
    <h3 class="text-center bottomtext">
      <font color="white">
      Quick Filter
      </font>
    </h3>
  </div>
 </a>








</div>

<script type="text/javascript">
  $(document).ready(function(){
    $( ".togglelink" ).click(function(){
      if($(".bottomlink").attr("href")=="#filters")
      {
        $(".bottomlink").attr( "href", "/tv" )

      }
      else
      {
        $(".bottomlink").attr( "href", "#filters" ),
        $(".bottomtext").text("Full Walkthrough")
      }
    });
  });

</script>


