







<style type="text/css">
  #filters {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 50px;
    background: lightgray;

    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }
  #filters:target {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #bottombutton {
    width: 100%;
    height: 50px;
    background: green;
  }
  h3 {
    margin: 0px;
  }



</style>



  <div id="filters">
  <a class="togglelink" href="#">
    <div id="bottombutton">
      <h3 class="text-center"> 3 Models </h3>
    </div>
    </a>
    <%= render 'sidebar' %>
  </div>




<script type="text/javascript">
  $(document).ready(function(){
    $( ".togglelink" ).click(function(){
      if($(this).attr("href")=="#filters")
        {
          $(this).attr( "href", "#" )
        }
        else
        {
          $(this).attr( "href", "#filters" )
        }
    });
  });
</script>
