// Place all the styles related to the tvs_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#single-page .item img{
    display: block;
    width: 100%;
    height: auto;
}

.brand {
    display: block;
    width: 50%;
    height: auto;
}

.navbar {

margin: 0;
}
