<!DOCTYPE html>
<html>
<head>
  <title>ScaffoldTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Important Owl stylesheet -->
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css">

  <!-- Default Theme -->
  <link rel="stylesheet" href="owl-carousel/owl.theme.css">

  <!--  jQuery 1.7+  -->
  <script src="jquery-1.9.1.min.js"></script>

  <!-- Include js plugin -->
  <script src="assets/owl-carousel/owl.carousel.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <%= yield %>

</body>

</html>
